.title-1 {
  font-size: 55px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}
.label {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
._shadow {
  box-shadow: 3px 3px 5px 0px rgb(77, 77, 77);
}
._shadow_box {
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.377);
}
._center {
  margin-top: 165px;
}
._btn {
  font-weight: 400;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
